.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 136px 0 67px 0;
}

.header__title {
  color: #161D25;
  font-weight: 700;
  font-size: 38px;
}

.header__title-caption {
  padding-right: 10px;
  color: #5D7085;
  font-weight: 400;
  font-size: 22px;
}

.services__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.services__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 266px;
  height: auto;
  min-height: 601px;
  padding: 48px 35px 36px;
  color: white;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
  list-style-image: url(../Images/Path.svg);
  list-style-position: inside;
  background-image: linear-gradient(#63D6FE, #5DD4F8);
}

.banner-item {
  font-size: 14px;
}

/* Спросил у ИИ как можно изменять расстояние между маркером и строкой */
/* Мы это пока не проходили */

.banner-item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-image: url(../Images/Path.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.services__card-image {
  width: 100%;
  min-height: 153px;

}

.services__card-image-box {
  position: relative;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.services__card-image-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.services__card-body {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.services__card-header {
  display: flex;
  flex-direction: column;
}

.services__card-header-title {
  font-size: 21px;
}

.services__card-header-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.34;
}

.services__card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.services__card-price {
  display: flex;
}

.services__card-currency {
  font-size: 16px;
  line-height: 1.5;
}

.services__card-price-value {
  padding-left: 3px;
  font-weight: 700;
  font-size: 67px;
}

.services__card-features-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-position: inside;
}

.services__card-features-list-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Спросил у ИИ как можно изменять расстояние между маркером и строкой */
/* Мы это пока не проходили */

.services__card-features-list-item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url(../Images/XMLID_89.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.personal {
  background-image: linear-gradient(#FDC624, #E6C434);
}

.business {
  background-image: linear-gradient(#55DCE7, #3DCAD4);
}

.developer {
  background-image: linear-gradient(#6BDFFF, #3DACFC);
}

.agency {
  background-image: linear-gradient(#BFCEDC, #939FB3);
}

.services__card-button {
  width: 100%;
  min-height: 40px;
  margin-top: auto;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-family: Roboto, serif, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
}

.button-active {
  color: #44A9FD;
  background-color: white;
}